<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Gallery</title>

<style type="text/css" media="screen">
 .wrap {
	 margin: 0 5%;
	  }
	  
  article {
	  width: 200px;
	  float: left;
	  padding: 10px;
	  margin: 10px;
	  background:#FF9;
  }
  
  footer {
	  clear: both;
  }
  
  
  
</style>

</head>

<body>
	<div class="wrap">
    <header>
    	<h1>This is a header</h1>
    </header>
    	<section>
        
        
        <article>
        	<h2> Title </h2>
        	<p>Ut lacinia feugiat dictum. Ut in neque vel dolor venenatis viverra a at libero. Aliquam posuere, magna ac sagittis pulvinar, massa mauris faucibus velit, quis dictum dolor nulla a enim. Nulla gravida consectetur metus, quis eleifend nulla eleifend vel. Suspendisse diam turpis, vestibulum ac interdum ut, semper in neque.
        </article>
  		
       <article>
        	<h2> Title </h2>
        	<p>Ut lacinia feugiat dictum. Ut in neque vel dolor venenatis viverra a at libero. Aliquam posuere, magna ac sagittis pulvinar, massa mauris faucibus velit, quis dictum dolor nulla a enim. Nulla gravida consectetur metus, quis eleifend nulla eleifend vel. Suspendisse diam turpis, vestibulum ac interdum ut, semper in neque.
        </article>
        <article>
        	<h2> Title </h2>
        	<p>Ut lacinia feugiat dictum. Ut in neque vel dolor venenatis viverra a at libero. Aliquam posuere, magna ac sagittis pulvinar, massa mauris faucibus velit, quis dictum dolor nulla a enim. Nulla gravida consectetur metus, quis eleifend nulla eleifend vel. Suspendisse diam turpis, vestibulum ac interdum ut, semper in neque.
        </article>
        <article>
        	<h2> Title </h2>
        	<p>Ut lacinia feugiat dictum. Ut in neque vel dolor venenatis viverra a at libero. Aliquam posuere, magna ac sagittis pulvinar, massa mauris faucibus velit, quis dictum dolor nulla a enim. Nulla gravida consectetur metus, quis eleifend nulla eleifend vel. Suspendisse diam turpis, vestibulum ac interdum ut, semper in neque.
        </article>
        <article>
        	<h2> Title </h2>
        	<p>Ut lacinia feugiat dictum. Ut in neque vel dolor venenatis viverra a at libero. Aliquam posuere, magna ac sagittis pulvinar, massa mauris faucibus velit, quis dictum dolor nulla a enim. Nulla gravida consectetur metus, quis eleifend nulla eleifend vel. Suspendisse diam turpis, vestibulum ac interdum ut, semper in neque.
        </article>
        <article>
        	<h2> Title </h2>
        	<p>Ut lacinia feugiat dictum. Ut in neque vel dolor venenatis viverra a at libero. Aliquam posuere, magna ac sagittis pulvinar, massa mauris faucibus velit, quis dictum dolor nulla a enim. Nulla gravida consectetur metus, quis eleifend nulla eleifend vel. Suspendisse diam turpis, vestibulum ac interdum ut, semper in neque.
        </article>
        <article>
        	<h2> Title </h2>
        	<p>Ut lacinia feugiat dictum. Ut in neque vel dolor venenatis viverra a at libero. Aliquam posuere, magna ac sagittis pulvinar, massa mauris faucibus velit, quis dictum dolor nulla a enim. Nulla gravida consectetur metus, quis eleifend nulla eleifend vel. Suspendisse diam turpis, vestibulum ac interdum ut, semper in neque.
        </article>
        <article>
        	<h2> Title </h2>
        	<p>Ut lacinia feugiat dictum. Ut in neque vel dolor venenatis viverra a at libero. Aliquam posuere, magna ac sagittis pulvinar, massa mauris faucibus velit, quis dictum dolor nulla a enim. Nulla gravida consectetur metus, quis eleifend nulla eleifend vel. Suspendisse diam turpis, vestibulum ac interdum ut, semper in neque.
        </article>
        
        
    <footer>
    <p> This is a footer</p>
    </footer>
</body>
</html>
